div#message{
    background-image: url('https://image.freepik.com/free-vector/blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg');
}

img#denny {
    border-radius: 5%;
}

div#letter {
    border-radius: 5%;
    margin: 4%;
}

div#email {
    margin-top: 5%;
    margin-left: 5%;
}

#success {
    display: none;
}

#warning {
    display: none;
}